<html>
<head>
  <title>Maven artifact version helper</title>

<script language="Javascript">
<!--
function url()
{
    document.input.action = "getUrl"
    document.input.submit();

    return true;
}

function version()
{
    document.input.action = "getCurrentVersion"
    document.input.submit();

    return true;
}
-->
</script>
<style>
  div {
    float:left;
  }
</style>
<noscript>You need Javascript enabled for this to work</noscript>
</head>
<body style="text-align:center;">
  <div>
    
    <form name="input" action="getUrl" method="get">
      <div>
        <div> 
          groupid<br/>
          <input type="text" size="30" name="groupid" /><br/>
        </div>
        <div>
          artifactid<br/>
          <input type="text" size="30" name="artifactid" /><br/><br/><br/>
        </div>
        <div>
          version<br/>
          <input type="text" size="10" name="version" /><br/><br/><br/>
        </div>
        <div>
          type<br/>
          <input type="text" size="7" name="type" /><br/><br/><br/>
        </div>
        <div>
          mavenrepo<br/>
          <input type="text" size="50" name="repo" /><br/><br/>
        </div>
      </div>
      <br/>
      <div>
        <input type="button" value="URL" onclick="return url()"/>
        <input type="button" value="Current version" onclick="return version()"/>
      </div>
    </form>
  </div> 
</body>
</html>
